<body id="About">
<div class="profilePhoto">
<img src="/images/Aida.jpg"  />
<p class="aboutMe">Welcome to In Season!  In Season is a website that allows you to look up which fruits and vegetables are in season, find recipes with them and locate your nearest farmer's market.  <br>My name is Aida Mengistu and I designed this website as my final portfolio piece for General Assembly's Web Development Immersive course.  In Season was built using MongoDB, AngularJS and Sails.  It is powered by two APIs: Big Oven Recipes and USDA Farmer's Markets API.  <br>If you would like to get in touch with me, please <a href="mailto:aidamengistu@gmail.com">email me</a>!</p>
</div>