<body id="About">
<div class="profilePhoto">
<img src="images/Aida.jpg"  />
<p id="aboutMe">Welcome to In Season!  In Season is a website where you can look up which fruits and vegetables are in season, find recipes with them and locate your nearest farmer's market.  My name is Aida Mengistu and I am a Web Development student from Seattle, WA.  I designed this website as a class project.  If you'd like to get in touch with me, my email address is aidamengistu@gmail.com.  I can also be reached by phone at (206)371-1202.</p>
</div>