<div class="container">
<div class="row IntroLine">
Your fresh fruits and veggies.  Look up what's in season.  Find a recipe.  Locate a farmer's market.
</div>
<hr>

<h1>What's in season?</h1>

  <div class="row">

  <div class="col-xs-6">
    <div id="boxNW">
      <div id="overlayNW">
        <div id="fruitVegListNW"><h1 id="seasonTitle">Winter</h1>
          <div ng-repeat="p in produce">
            <a ng-if="p.season == 'Winter'" ng-href="/recipes/{{p.name}}">
              {{p.name}}<br>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div id="boxNE">
      <div id="overlayNE">
        <div id="fruitVegListNE"><h1 id="seasonTitle">Spring</h1>
          <div ng-repeat="p in produce">
            <a ng-if="p.season == 'Spring'" ng-href="/recipes/{{p.name}}">
              {{p.name}}<br>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div class="row">

  <div class="col-xs-6">
    <div id="boxSW">
      <div id="overlaySW">
        <div id="fruitVegListSW"><h1 id="seasonTitle">Summer</h1>
          <div ng-repeat="p in produce">
            <a ng-if="p.season == 'Summer'" ng-href="/recipes/{{p.name}}">
              {{p.name}}<br>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div id="boxSE">
      <div id="overlaySE">
        <div id="fruitVegListSE"><h1 id="seasonTitle">Fall</h1>
          <div ng-repeat="p in produce">
            <a ng-if="p.season == 'Fall'" ng-href="/recipes/{{p.name}}">
              {{p.name}}<br>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>


