<h1>Find a Farmer's Market Near:</h1>

<!-- This searches the USDA National Farmer's Market API for markets entered near the zipcode that the user enters -->
<form class="form" ng-submit="search()">
  <div class="form-group col-md-4">
    <!-- <label class="control-label">Search for </label> -->
    <input type="text" ng-model="zip" class="form-control" placeholder="Enter a zip code">
  </div>
  <input type="submit" class="btn zipCodeBtn">
</form>

<hr>
<accordion close-others="true">
  <accordion-group ng-repeat="market in markets" ng-click="details(market.id)" heading="{{market.marketname}}">
    <div ng-show="marketDetails[market.id]">
      <label>Address:</label> {{marketDetails[market.id].Address}}<br>
      <label>Schedule:</label> {{marketDetails[market.id].Schedule | limitTo:46}}<br>
      <label>Products:</label> {{marketDetails[market.id].Products}}
    </div>
    <div ng-hide="marketDetails[market.id]">
      Loading...
    </div>
  </accordion-group>
</accordion>




