h1 {
  color: #655B58;
  text-align: left;
  font-weight: bolder;
}

h2 {
  color: #253938;
  text-align: center;
  font-weight: bolder;
}

body {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  background-color: #FAF9F8;
}

.IntroLine {
  text-align: center;
  font-style: italic;
  color: #E7512D;
  font-weight: bolder;
  font-size: 25px;
}

#starRating {
  color: #E7512D;
}

/*Navbar styling */
.navbar {
  background-color: #E7512D;
  border-radius:10px;
  height:75px;
}

.navbar .navbar-header a{
  color: #FAF5E3;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  padding-right: 30px;
}

.navbar-default .navbar-nav li a {
  color: #F5ECC7;
  padding-left: 20px;
  padding-right: 20px;
}

.container-fluid {
  padding-top: 10px;
}

.zipCodeBtn {
  background-color: #E7512D;
  color: #F5ECC7;
}

.loginBtn {
  background-color: #E7512D;
  color: #F5ECC7;
}

/* accordion on farmer's markets search result page*/
.panel-group .panel-heading {
  color: #655B58;
  background-color: #F5ECC7;
}

.panel-body {
  color:#312f27;
  background-color: #C4BC9F;
}

.panel-title {
  font-size: 18px;
}

label {
  font-weight: bolder;
}

#recipeTitle a{
  color: #655B58;
  text-decoration: none;
}

#recipeTitle a:hover{
  color: #000000;
}

.RecipeSaveBtn{
  background-color: #E7512D;
  color: #F5ECC7;
}

.RecipeDeleteBtn {
  background-color: #CC2111;
  color: #F5ECC7;
}

#boxNW {
  width:550px;
  height:400px;
  box-shadow:inset 1px 1px 40px 0 #FDA865;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 0 auto;
  background:url("/images/sweet-potato.jpg");
  background-size:cover;
  border-radius:5px;
  overflow:hidden;
}

#boxNE {
  width:550px;
  height:400px;
  box-shadow:inset 1px 1px 40px 0 #9F194E;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 0 auto;
  background:url("/images/Spring-vegetables.png");
  background-size:cover;
  border-radius:5px;
  overflow:hidden;
}

#boxSW {
  width:550px;
  height:400px;
  box-shadow:inset 1px 1px 40px 0 #709452;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 0 auto;
  background:url("/images/berries.jpg");
  background-size:cover;
  border-radius:5px;
  overflow:hidden;
}

#boxSE {
  width:550px;
  height:400px;
  box-shadow:inset 1px 1px 40px 0 #F7C74E;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 0 auto;
  background:url("/images/fallVegetables.jpg");
  background-size:cover;
  border-radius:5px;
  overflow:hidden;
}

#overlayNW {
  background:#FE9046;
  text-align:center;
  padding:90px 0 250px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

#overlayNE {
  background:#9F194E;
  text-align:center;
  padding:90px 0 250px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

#overlaySW {
  background:#709452;
  text-align:center;
  padding:40px 0 290px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

#overlaySE {
  background:#F7C74E;
  text-align:center;
  padding:70px 0 270px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

#boxNW:hover #overlayNW {
  opacity:0.9;
}

#boxNE:hover #overlayNE {
  opacity:0.9;
}

#boxSW:hover #overlaySW {
  opacity:0.9;
}

#boxSE:hover #overlaySE {
  opacity:0.9;
}

#fruitVegListNW a {
  color: #FFFFFF;
  text-decoration: none;
  float: left;
  width: 33%;
  text-align: left;
  padding-left: 40px;
}

#fruitVegListNW a:hover {
  color: #3B1A01;
}

#fruitVegListNE a {
  color: #FFFFFF;
  text-decoration: none;
  float: left;
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

#fruitVegListNE a:hover {
  color: #F7C74E;
}

#fruitVegListSW a {
  color: #FFFFFF;
  text-decoration: none;
  float: left;
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

#fruitVegListSW a:hover {
  color: #F7C74E;
}

#fruitVegListSE a {
  color: #3B1A01;
  text-decoration: none;
  float: left;
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

#fruitVegListSE a:hover {
  color: #FFFFFF;
}

.footer {
  background-color: #E7512D;
  padding: 20px;
  color: #F5ECC7;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
}

#seasonTitle{
  color:#FFFFFF;
  text-align: center;
  padding-top: 0px;
}

.profilePhoto img {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 20px;
  border: solid 4px #E7512D;
}
