<div class="container" ng-app="ProduceApp" ng-controller="NavCtrl">
  <nav class="navbar navbar-default" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">In Season</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a ng-href="/markets">Find a Farmer's Market </a></li>
          <li><a ng-href="/savedRecipes">My Saved Recipes</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right" >
          <li><a href="#" ng-click="showLogin()" ng-hide="currentUser">Login</a></li>
          <li><a ng-show="currentUser">Welcome {{currentUser.firstName || 'User'}}! </a></li>
          <li><a href="#" ng-click="logout()" ng-show="currentUser">Logout</a>
        </ul>

        </div>
      </div>

    </nav>
    <ng-view></ng-view>
  </div>